@use '@picocss/pico/scss';
@use '@picocss/pico/scss/colors/utilities';

// html {
//     background-color: var(--pico-color-azure-100)
// }
.pagination {
    width: 373px;
    margin: auto;
    display: grid;
    grid-template-columns: 60px 210px 60px;
    margin: auto;
    .pagination-btn {
        width: 60px;
    }
}